<div class="container">
    <div class="row d-flex justify-content-center h-100"> 

    <div class="user_card col-sm-9 col-md-9 col-lg-9"> 

        <div class="form1 d-flex justify-content-center"> 
            <div class="brand_logo_container"> 
              <img src="assets/img/logo.png" class="brand_logo" alt="Logo" /> 
            </div> 
        </div> 
        <!-- d-flex justify-content-center -->
    <div class="form2 col-sm-12 col-md-12 col-lg-12">
        <form [formGroup]="form" (ngSubmit)="submit()">
              
            <div class="form-group">
                <label class="lbl" for="name">Name</label>
                <input 
                    formControlName="strName"
                    [(ngModel)]="user.strName"
                    id="name" 
                    type="text" 
                    class="form-control static">
                <div *ngIf="f.strName.touched && f.strName.invalid" class="alert alert-danger">
                    <div *ngIf="f.strName.errors.required">Name is required.</div>
                    <div *ngIf="f.strName.errors.minlength">Name should be 3 character.</div>
                </div>
            </div>
           
            <div class="form-group">
                <label class="lbl" for="email">Email</label>
                <input 
                    formControlName="strEmail"
                    [(ngModel)]="user.strEmail"
                    id="email" 
                    type="text" 
                    class="form-control">
                <div *ngIf="f.strEmail.touched && f.strEmail.invalid" class="alert alert-danger">
                    <div *ngIf="f.strEmail.errors.required">Email is required.</div>
                    <div *ngIf="f.strEmail.errors.email">Please, enter valid email address.</div>
                </div>
            </div>
    
            <div class="form-group">
                <label class="lbl" for="email">Date</label>
                <input type="date" 
                       [(ngModel)]="user.dtrDateSumbit"
                       formControlName="dtrDateSumbit" 
                       class="form-control">
                <div *ngIf="f.dtrDateSumbit.touched && f.dtrDateSumbit.invalid" class="alert alert-danger">
                    <div *ngIf="f.dtrDateSumbit.errors.required">Date is required.</div>
                    <div *ngIf="f.dtrDateSumbit.errors.email">Please, enter date email address.</div>
                </div>
                <!-- <mat-form-field>
                    <input 
                        matInput [matDatepicker]="picker3" 
                        [(ngModel)]="user.dtrDateSumbit"
                        formControlName="dtrDateSumbit" 
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field> -->
            </div>
    
            <div class="form-group">
                <label class="lbl" for="body">Country</label>
                <select formControlName="strCountry" [(ngModel)]="user.strCountry" class="form-control input-lg" id="country">
                    <option *ngFor="let country of countriesArray" value= {{country.id}}>{{country.name}}</option>
                </select>
    
                <div *ngIf="f.strCountry.touched && f.strCountry.invalid" class="alert alert-danger">
                    <div *ngIf="f.strCountry.errors.required">Country is required.</div>
                </div>
            </div>
           
            <div class="form-group">
                <label class="lbl" for="body">Address</label>
                <textarea 
                    formControlName="strAddress"
                    [(ngModel)]="user.strAddress"
                    id="body" 
                    type="text" 
                    class="form-control">
                </textarea>
                <div *ngIf="f.strAddress.touched && f.strAddress.invalid" class="alert alert-danger">
                    <div *ngIf="f.strAddress.errors.required">Address is required.</div>
                </div>
            </div>
          
            <button class="btn btn-primary btn-block" 
                    [routerLink]="['/userdetails', user.strName, user.dtrDateSumbit, user.strEmail, user.strCountry, user.strAddress]"
                    [disabled]="!form.valid"
                    type="submit" 
                   >Submit</button>
        </form>
        <!-- [disabled]="!form.valid" -->
        <!-- [routerLink]="['/userdetails', user.strName, user.strName, user.strEmail, user.strCountry, user.strAddress]" -->
    </div>
    </div>
    </div>
    
</div>